/****************************************************************************
 * @copyright Liu Zhao
 * @authors   Liu Zhao (liuzhaomax@163.com)
 * @date      2019-03-09 17:06:33
 * @version   v1.0.0
 * filename   gColor.scss
 * function   颜色全局变量
 ***************************************************************************/
@charset "UTF-8";

$grayB2: rgba(0,0,0,0.2);
$grayB3: rgba(0,0,0,0.3);
$grayB4: rgba(0,0,0,0.4);
$grayW3: rgba(255,255,255,0.3);

$Primary      : #2d8cf0;
$LightPrimary : #5cadff;
$DarkPrimary  : #2b85e4;

$separationLine : #e8e8e8;

$bgKey: #CCCCCC;

$spinShade: rgba(255,255,255,0.8);
