/****************************************************************************
 * @copyright Liu Zhao
 * @authors   Liu Zhao (liuzhaomax@163.com)
 * @date      2019-03-23 11:06:55
 * @version   v1.0.0
 * filename   gSize.scss
 * function   全局字体变量
 ***************************************************************************/
@charset "UTF-8";

$titleBarContent: 18px;
$titleBarTopBottomPadding: 8px;

$drawerUserinfoHeader: 18px;
$drawerUserinfoTitle: 16px;
$drawerUserinfoContent: 14px;